<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Unnamed data center Home</title>
	<meta content="text/html;charset=UTF-8" http-equiv="Content-type" />
	<link href="/formal.css" type="text/css" rel="stylesheet" />
	<link href="/static/css/gavo_dc.css" type="text/css" rel="stylesheet" />
	<script src="/static/js/jquery-gavo.js" type="text/javascript"></script>
	<script src="/static/js/formal.js" type="text/javascript"></script>
	<script src="/static/js/gavo.js" type="text/javascript"></script>
	<style type="text/css">
		.panel {
			position: relative;
			background-color: #EAEBEE;
			margin-top: 0px;
			min-height:70ex;
			margin-left: 5px;
			padding: 5px;
		}
	</style>
	<script type="text/javascript">
		function makePanelShower(panelId) {
			return function (){
				$(".panel").css("display", "none");
				$("#"+panelId).css("display", "block");
			}
		}
		$(document).ready(function() {
			$("#tabset_tabs li").bind("click", makeTabCallback({
				'by-subject': makePanelShower("subject-list"),
				'by-title': makePanelShower("title-list"),
			}));
			$("#tabset_tabs li a").removeAttr("href");
			makePanelShower("title-list")();
		});
	</script>

  </head>
  <body>
		<div id="header">
			<img src="/static/img/logo_medium.png" alt="[operator logo]" class="logo headlinelogo" />
			<h1 id="pagehead">Unnamed data center</h1>
		</div>
		<p>Welcome to this data center.  The operators have not yet customized their root.html template, which is why you're reading this template text.</p>

		<p>In addition to the services listed below, on this site you probably can access <a href="/__system__/dc_tables/list/form">numerous tables</a> using <a href="/tap">TAP</a> or <a href="/adql">form-based ADQL</a>.</p>
		<p>Please check out our <a href="/static/help.shtml">site help</a>.</p>
		<hr />
		<h2>Services available here</h2>

		<div class="container">
			<ul id="tabset_tabs">
				<li class="selected"><a href="#title-list" name="by-title"><span>By Title</span></a></li>
				<li><a href="#subject-list" name="by-subject"><span>By Subject</span></a></li>
			</ul>
			<div id="title-list" class="panel"></div>
			<div style="position:static" id="subject-list" class="panel"></div>
		</div>
		<p class="attribution">
			<a href="mailto:contact.address">Contact us</a>
			<a href="/__system__/services/overview/form">[s]</a>
		</p>
  </body>
</html>